APP_KEY=
DB_PASSWORD=
COMPOSE_PARALLEL_LIMIT=1
FASHION_HOST=fashion.example.com
ELECTRONICS_HOST=electronics.example.com
ADMIN_HOST=admin.example.com
API_HOST=api.example.com
TLS_EMAIL=you@example.com
